/* Global S */
    .title-block {
        max-width: 700px;
        margin: 0px auto 60px;
    }
    .title-block .sub-title {
        font-size: 16px;
        line-height: normal;
        color: var(--content-color);
    }
    .title-block .main-title {
        font-size: 60px;
        line-height: 70px;
        font-weight: 800;
        color: var(--primary-color);
    }
    .title-block .content-title p {
        font-size: 18px;
        line-height: normal;
        color: var(--content-color);
    }
    .title-block .sub-title + .main-title {
        margin-top: 10px;
    }
    .title-block .main-title + .content-title {
        margin-top: 40px;
    }
    .btn-link {
        color: #ffffff;
        font-size: 15px;
        font-weight: 500;
    }
    .btn-icon-link {
        display: inline-flex;
        align-items: center;
        gap: 5px;
    }
    .btn-icon-link .icon {
        width: 19px;
        height: 19px;
        transition: 0.3s;
    }
/* Global E */

/* Hero S */
    .hero-section {
        height: 100vh;
        min-height: 650px;
        background-image: url(../images/hero-bg.png);
        background-size: cover;
        background-position: center center;
    }
    .hero-section :is(.container, .hero-main) {
        height: 100%;
    }
    .hero-main {
        display: flex;
        align-items: center;
    }
    .hero-block {
        text-align: center;
        display: flex;
        flex-direction: column;
        max-width: 1000px;
        margin: auto;
    }
    .hero-block .hero-main-title {
        margin-top: 10px;
        margin-bottom: 40px;
        font-size: 60px;
        letter-spacing: -2.4px;
        line-height: 1.2;
    }
    .hero-block p {
        font-size: 18px;
        max-width: 700px;
        margin: auto;
    }
    .hero-btn-wrap {
        margin-top: 40px;
    }
/* Hero E */

/* Header S */
    .header-main {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 25px 0;
        z-index: 99;
    }
    .header-flexbox {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .header-flexbox .flex-left {
        width: calc(100% - 150px);
        display: flex;
        align-items: center;
        gap: 60px;
    }
    .header-flexbox .flex-right {
        width: 150px;
        text-align: right;
    }
    .header-flexbox .flex-left ul {
        display: flex;
        align-items: center;
        gap: 30px;
    }
    .header-flexbox .flex-left ul li a {
        font-size: 16px;
        font-weight: 600;
        color: #7E7E7E;
    }
    .header-flexbox .flex-left ul li.active a,
    .header-flexbox .flex-left ul li a:hover {
        color: #ffffff;
    }

    .header-main.shrink {background-color: var(--bg-primary-color);}
/* Header E */

/* Portfolio S */
    .portfolio-main {
        display: flex;
        flex-direction: column;
    }
    .portfolio-main .portfolio-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 80px;
        padding: 65px 60px;
        background: #1F1F1F;
        border-bottom: 2px solid #2F2F2F;
    }
    .portfolio-main .portfolio-list:nth-child(even) {
        background: #262626;
    }
    .portfolio-list .portfolio-image-col {
        width: 418px;
    }
    .portfolio-list .portfolio-content-col {
        width: calc(100% - 498px);
    }
    .portfolio-content-col {
        display: flex;
        flex-direction: column;
    }
    .portfolio-content-col .content-top-block {
        flex-grow: 1;
    }
    .portfolio-content-col .content-bottom-block {
        flex-shrink: 0;
    }
    .portfolio-content-col .portfolio-title {
        font-size: 40px;
        line-height: 50px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    .portfolio-content-col .portfilio-content {
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 1px solid #3F3F3F;
    }
    .portfolio-image {
        border-radius: 5px;
        overflow: hidden;
        opacity: 0.3;
        aspect-ratio: 418 / 238;
        transition: 0.3s;
    }
    .portfolio-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .portfolio-list:hover .portfolio-image {
        box-shadow: 0px 25px 50px 0px rgb(0 106 238 / 15%);
        opacity: 1;
    }
    .portfolio-list:hover .btn-icon-link .icon {
        transform: rotate(45deg);
    }
/* Portfolio E */